<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="productos">
    <h2>Pagina de productos</h2>
    {{#each product1}}
        <div class="contenedor">
            <h3>{{this.title}}</h3>
            <h3>{{this.price}}</h3>
            <img width="200" src={{this.thumbnail}}/>
        </div>
    {{/each}}
</div>
</body>
</html>