<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <img src="https://us.123rf.com/450wm/nitarismayanti/nitarismayanti2104/nitarismayanti210400111/167080006-logo-de-tienda-online-con-s%C3%ADmbolo-de-mano.jpg?ver=6" width="100px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/form">Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Productos</a>
        </li>
      </ul>
    </div>
  </nav>